body {
    background-color: rgb(245, 245, 220);
}

h1 {
    font-family: 'Times New Roman', Georgia, Verdana;
    font-size: 40px;
}

p {
    font-family: 'Times New Roman', Georgia, Verdana;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.822);
}

#logo {
    text-align: center;
}

.header {
    overflow: hidden;
    border: 1px black solid;
    background-color:rgb(69, 101, 69);
    padding: 2px;
    text-align: left;
}

.header img {
    height: 34px;
}

#nav-container {
    display: block;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
    height: auto;
}

.nav-option {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

#active {
    color:black;
    background-color:gray;
}

.nav-option:visited {
    color: rgb(215, 215, 215);
}

.nav-option:hover {
    color: black;
}

.nav-option:active {
    color: gold;
}

#main {
    width: 100%;
    padding: 5px;
}

.opening {
    text-align: center;
    background-image:url("../images/blog-page-background.jpg");
    /* width: 100%;
    height: auto; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    max-width: 100%;
    height: auto;
}

.open-description {
    color: black;
}

#title-paragraph {
    margin-top: 350px
}

#main-content {
    max-width: 100%;
    height: auto;
    padding: 5px;
}

.news-content {
    border: 2px solid black;
    height: 300px;
    /* float: left; */
    width: 20%;
    margin: 30px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background-color: white;
}

.description {
    margin: 0%;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 2px;
    text-align: center;
}

.news-content img {
    height: auto;
    float: right;
}

.news_content {
    margin: 5px;
}

.catagory {
    margin-top: 0%;
    border: 1px solid black;
    margin: 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#filter-container {
    text-align: end;
    padding-right: 100px;
}

#content-message {
    text-align: center;
}

.like {
    bottom: 2%;
    position: absolute;
    right: 25%;
    display: inline-block;
    margin-right: 15px;
}

.like:hover {
    cursor: pointer;
}

.dislike {
    bottom: 2%;
    position: absolute;
    right: 5%;
    display: inline-block;
}

.dislike:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    #nav-container {
        float: none;
        display: block;
    }

    .main{
      max-width: 100%;
      font-size: 24px;
    }

    .news-content {
        max-width: 100%;
    }

    img{
        max-width:100%;
        height: auto
    }
  }
