body {
    background-color: rgb(245, 245, 220);
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Georgia, Verdana;
    font-size: 40px;
}

p {
    font-family: 'Times New Roman', Georgia, Verdana;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.822);
}

pre {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.navigation {
    border: 1px black solid;
    background-color:rgb(69, 101, 69);
    overflow: hidden;
    padding: 2px;
    text-align: left;
}

#nav-container {
    display: block;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    float: right;
    height: auto;
}

.nav-option {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.navigation img {
    height: 34px;
}

.nav-option:visited {
    color: rgb(215, 215, 215);
}

.nav-option:hover {
    color: black;
}

.nav-option:active {
    color: gold;
}

#requirements, th, td {
    border: 1px black solid;
}

#device-requirement{
    border: 1px black solid;
    display: inline-block;
}

#requirement-box {
    display: block;
    margin-top: 10px;
}

.requirement-option {
    display: inline-block;
    background-color: white;
    width: 70px;
    height: 30px;
}

.requirement-option:hover {
    background-color: gray;
}

.requirement-option:active {
    color: gold;
}

#current-page {
    color:black;
    background-color:gray;
}

.main-content {
    float: left;
    width: 100%;
    padding: 7px;
    text-align: center;
}

#pic1 {
    float: right;
    width: auto;
}

.main-box {
    border: 1px solid black;
    border-radius: 10px;
    height: auto;
    margin-bottom: 10px;
}

#suggestion {
    background-color: deepskyblue;
    border: 1px solid black;
}

.textinput {
    width: 200px;
}

#suggestion textarea {
    width: 200px;
    height: 50px;
}

#submit {
    border-radius: 5px;
    background-color: blanchedalmond;
}

.boxes {
    border: 2px black solid;
    display: inline-block;
    overflow: auto;
    margin-top: 20px;
    margin-right: 11px;
    width: 200px;
    height: 250px;
    background-color: white;
}

.boxes:hover {
    box-shadow: 4px 3px 2px 2px rgba(0, 0, 0, 0.70);
    cursor: pointer;
}

.boxes p {
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
}


#pic2 {
    float: right;
}

#calculation-form {
    text-align: center;
}

#calculation-submit {
    border-radius: 10px;
    height: 30px;
}

#calculation-submit:hover {
    background-color: gray;
}

#calculation-submit:active {
    color: gold;
}

.e-input {
    display: inline-block;
}

#eligibility {
    text-align: center;
    display: inline-block;
    padding-bottom: 20px;
}

.e-button {
    display: inline-block;
    margin-bottom: 10px;
}

#calculator {
    border: 1px solid black;
}

.cost_calculator_component {
    display: inline-block;
    white-space: pre;
    font-weight: bold;
}

#GPA {
    display: none;
}

#gpa-yes-container{
    display: none;
}

/* #gpa-yes-name{
    display: none;
} */

#gpa-no-container{
    display: none;
}

/* #gpa-no-name{
    display: none;
} */

#income {
    display: none;
}

#income-yes-container {
    display: none;
}

/* #income-yes-name {
    display: none;
} */

/* #income-no {
    display: none;
} */

#income-no-container {
    display: none;
}

#tutorial-container {
    display: inline-block;
    text-align: center;
}

#tutorial {
    width: 400px;
}

#list {
    display: none;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .navigation a {
      float: none;
      display: block;
      text-align: left;
    }
    #nav-container {
        float: none;
        display: block;
    }
    .main-content{
      max-width: 100%;
      font-size: 24px;
    }

    img{
        max-width:100%;
        height: auto
    }

    iframe {
        max-width:100%;
        height: auto
    }
  }



